*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

:root{
    --main: #164e63;
    --secondary: #06b6d4;
    --light: white;
    --dark: black;
    --gray: rgb(226,232,240);
}

/* Separating sidebar from right hand side */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(1, 1fr) repeat(1,4fr);
}

.main-section-item{
    background-color: var(--light);
    text-align: center;
    color: var(--dark);
    padding: 12px;
}

/* Organising elements within sidebar */
#sidebar{
    background-color: var(--main);
    display: grid;
    grid-template-rows: repeat(1, 1fr) repeat(2,1fr) repeat(1,3fr);
    color: var(--light);
    text-align: left;

    overflow: hidden;
    gap: 50px;
}


.logo-grid, .logo-grid > i{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top:20px;
}

.tasks-grid{
    display: grid;
    grid-template-columns: 100px 100px;
    
}
.task-icons{
    text-align: center;
}
.task-icon > i{
    font-size: 0.9rem;
}

.options-grid{
    display: grid;
    grid-template-columns: 100px 100px;
    
}
.option-icons{
    text-align: center;
    
}

.option-icon > i {
    font-size: 0.9rem;
}

/* Right hand side */

#right{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(1, 1fr) repeat(1,4fr);
    overflow: hidden;
    padding: 0;
}

/* Top section */
.top{
    background-color: var(--light);
    box-shadow: 0 4px 2px -2px gray;
}

.top-line{
    display: flex;
    padding: 20px;
}

.top-line-element{
    flex:1;
}

#username{
    flex:3;
    font-weight: bold;
}


#search-bar{
    flex:10;
}

#search-bar > input{
    width:80%;
    background-color: var(--gray);
    border-radius: 20px;
    border-style: none;
}
/* Main section */
.main{
    background-color: var(--light);
    box-shadow: 0px 2px 15px var(--gray) inset;
}

